html {
  font-size: 62.5%;
}

body {
  font-family: "Public Sans", sans-serif;
  font-weight: 400;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 45px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo h1 {
    font-size: 2rem;
    margin-left: 6px;
}

.menu {
    display: flex;
    
}

.menu li a {
    padding: 10px 5px;
    margin: 1.5rem;
}

.menu li a:hover {
    background-color: #5BC241;
    color: #fff;
    transition: 0.3s ease-in-out;
}

.menu li a.btn {
    background-color: #5BC241;
    border-radius: 10px;
    color: #fff;
    margin-left: 2rem;
    padding: 10px 20px;
}