h1 {
  color: green;
}

.paragrafo {
  color: blue;
}

#menu {
  margin: 100px;
}

* {
  padding: 0;
  font-size: 20px;
}

.titulo.vermelho {
  color: red;
}
.titulo.laranja {
  color: orange;
}
.titulo {
  font-size: 30px;
}

p,
span {
  font-size: 19px;
}

.sobre .texto {
  background-color: tomato;
}

div > p {
  text-align: center;
}

div + p {
    text-transform: capitalize;
}

a {
    text-align: center;
    display: block;
}

a[target=_blank] {
    color: red;
}