body {
  font-family: "Public Sans", sans-serif;
}

.pinturas {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.pinturas .pintura {
  width: 250px;
  height: 350px;
  position: relative;
}

.pinturas .pintura img {
    width: 100%;
    height: 100%;
}

.pinturas .pintura .informacoes {
  position: absolute;
  color: #fff;
  bottom: 40px;
  left: 20px;
}

.pinturas .pintura .informacoes .titulo {
    font-size: 30px;
    margin-bottom: 8px;
}

.pinturas .pintura .informacoes .subtitulo {
    font-size: 17px;
    font-weight: 300;
}