@media(min-width: 768px) {
    header {
        flex-direction: row;
        justify-content: space-between;
        padding: 30px;
    }
    .logo {
        margin: 0;
    }
    .logo h1 {
        font-size: 20px;
        gap: 6px;
    }
    .menu {
        flex-direction: row;
        gap: 30px;
    }
    .menu a {
        font-size: 18px;
        padding: 11px 7px;
    }
    .menu .btn {
        padding: 10px 21px;
        font-size: 15px;
    }
}